<%- include("header"); -%>
<h2>this about page</h2>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud es</p>

<%- include("footer"); -%>
